*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Helvetica ;
}

main{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 20px;
}

.firstSection{
    display: flex;

}
.TextForm{
    width: 80%;
}
.Form{
    width: 80%;
}

