

.footer{
    padding-top: 50px;
    width: 100%;
    height: 193px;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #c9c9c9;
    
}


.cut{
    position: relative;
    bottom: -50px;
    height: 50px;
    padding: 50px ;
    margin-left: -50px;
    margin-right: -50px;
    transform: rotate(-4deg); 

    background-color: rgb(255, 255, 255);
}
