*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica ;
    color: #888888;
}

main{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

.firstSection{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}
.TextForm{
    width: 80%;
}
.Form{
    width: 80%;
}