.firstForm{
    display:flex;
    flex-direction: column;
    margin: 30px;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 10px;
    padding: 10px;
    border: 1.5px solid #707070;
}

.radio{
    display: flex;
    flex-direction: row;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.formSubmit {
    border-radius: 5px;
    border: 1.5px solid #707070;
    width: 100%;
}

.formSubmit:hover {
cursor: pointer;
}


.radio1:hover{
    cursor: pointer;
}